* {
  box-sizing: border-box;
}

.footer {
  background-color: greenyellow;
  border-top: 4px solid lightblue;
  text-align: center;
  padding: 1em;
}

.contact {
  height: 4em;
  width: 4em;
  padding: 1em;
}

.contact:hover {
  cursor: pointer;
}

.me {
  font-family: 'Fredoka One', cursive;
}
