body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px skyblue;
}

::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: skyblue;
}
