*{
  box-sizing: border-box;
}

.noteBox {
  background-image: url('/notebook.png');
  max-width: 40em;
  box-shadow: 0 0 6px 1px darkgrey;
}

.noteInfo {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em;
  padding-left: 2.5em;
}
